.contact-me-container {
	position: relative;
	min-height: 100vh;
	padding-top: 8vh;
}
.container {
	/* background-color: #494979; */
	/* display: grid;
	grid-template-rows: auto auto; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.subHeading {
	/* background: #000; */
	align-self: flex-start;
	/* display: flex;
	align-items: center; */
}
.contact-container {
	display: flex;
	flex-direction: column;

	/* background-color: #b18597; */

	color: #ffff;
	text-align: center;
	font-family: "Rubik", sans-serif;
}
.contact-container .heading {
	/* background-color: black; */

	margin-top: 2rem;
	margin-bottom: 3rem;
}

.hello-btn-container {
}

button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
}
button.say-hello-btn {
	font-weight: 600;
	/* color: #382b22; */
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 1.25em 2em;
	/* background: #fff0f0; */
	background: #494979;
	/* border: 2px solid #b18597; */
	border: 2px solid #494979;
	border-radius: 0.75em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.say-hello-btn::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: #f9c4d2; */
	background: #cfd9f0;
	border-radius: inherit;
	/* box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; */
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.say-hello-btn:hover {
	/* background: #ffe9e9; */
	transform: translate(0, 0.25em);
}
button.say-hello-btn:hover::before {
	/* box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2; */
	transform: translate3d(0, 0.5em, -1em);
}
button.say-hello-btn:active {
	/* background: #ffe9e9; */
	transform: translate(0em, 0.75em);
}
button.say-hello-btn:active::before {
	box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
	transform: translate3d(0, 0, -1em);
}
